# UDEV Rules for BooBip ROM switcher
#
# To install, type this command in a terminal:
#   sudo cp 50-boobip.rules /etc/udev/rules.d/.
#
# After this file is installed, physically unplug and reconnect BooBip.
#
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", \
    ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", \
    ENV{MTP_NO_PROBE}="1"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", \
    SUBSYSTEMS=="usb", TAG+="uaccess"
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", \
    KERNEL=="ttyACM*", TAG+="uaccess"
ACTION=="add", \
    ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", \
    SYMLINK+="boobip"
